html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  background-color: #fcf9e8;
  color: #443d44;
}

h1 {
  text-align: center;
  color: #93202f;
}

h2 {
  padding-left: 1em;
  margin-bottom: 0;
  color: #93202f;
}

ul {
  margin: 0.5em 0 0 0;
}

ul:last-child {
  margin-bottom: 2em;
}