html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  font-family: sans-serif;
  background-color: #fcf9e8;
  color: #443d44;
}

img.logo {
  width: 256px;
  margin: auto;
  margin-top: 1em;
}

.buttons {
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;

  button {
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    padding: 0.5em;
    color: #bbbbbb;

    background-color: #bf3640;
    &:hover { background-color: #ad2c35; }
    &:active { background-color: #93202f; }

    &:focus { outline: none; }
  }
}

.calendar {
  flex: 1;
  padding: 0.5em;
  margin: 4%;
  margin-top: 1em;
  display: flex;
}

table {
  width: 100%;
  height: 100%;
}

table, th, td {
  border: 2px solid #68778a;
  border-spacing: 0;
  border-collapse: collapse;
  text-align: center;
}

th {
  color: #93202f;
}

tr.header {
  height: 8%;
}

th:first-child {
  width: 5%
}

th, td {
  width: 13%;
}

td {
  padding: 0px 3px 0px 3px;
}

tr.category-time {
  height: 5%;

  div {
    display: flex;
    justify-content: space-between;
  }

  td {
    font-size: 12px;
    border-bottom: none;
  }
}

tr.title, tr.sidedish, tr.notes {
  td {
    border-bottom: none;
    border-top: none;
  }
}

tr.sidedish select, tr.notes textarea {
  width: 90%;
}

tr.source {
  height: 5%;

  td {
    font-size: 10px;
    border-top: none;
  }
}
